footer {
  text-align: center;
  background-color: #2f3640;
  p {
    color: white;
    padding: 10px 0;
  }
  i {
    font-size: 2rem;
  }
  a {
    color: $white;
    text-decoration: none;
    transition: .5s;
    &:hover,
    &:focus {
      color: $red;
    }
  }
}