* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Hind Madurai', sans-serif;
}

body {
  font-size: 16px;
  color: $black;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

img {
  margin: 0;
  width: 100%;
  height: auto;
}

h1 {
  @include fontStyling(8rem, 700);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 5rem;
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 10px solid $red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  transition: .8s;
  text-align: center;
  &::before {
    content: "";
    height: 5px;
    width: 40px;
    background-color: $red;
    position: absolute;
    top: 37px;
    left: 35%;
    transition: .8s;
    opacity: 0;ba
  }
}

button {
  text-decoration: none;
  border: none;
}