header {
  position: relative;
  height: 100vh;
}

.pokemon-logo {
  width: 400px;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-box {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $black;
  height: 80px;
  border-radius: 80px;
  padding: 10px;
  &:hover > .search-text {
    width: 400px;
    padding: 0 20px;
  }
  &:hover > .pokemon-search {
    background-color: $red;
  }
}

.pokemon-search {
  color: $red;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: $white;
  font-family: 'Press Start 2P', cursive;
  line-height: 80px;
  width: 0px;
  transition: 1s;
  font-size: 4rem;
}

.preloader {
  height: 100vh;
  width: 100vw;
  background-color: $black;
  position: relative;
  z-index: 50;
  img {
  height: 80px;
  width: 80px;
  position: relative;
  z-index: 100;
  left: 50px;
  top: 50px;
  transform: translate(-60%, -50%);
  animation: bounce 3s linear forwards;
  }
}

@keyframes bounce {
  16%, 48%, 78%  {
    top: 50vh;
    animation-timing-function: ease-out;
  }
  32% {
    top: 12.5vh;
    animation-timing-function: ease-in;
  }
  62% {
    top: 25vh;
    animation-timing-function: ease-in;
  }
  90% {
    top: 37.5vh;
    animation-timing-function: ease-in;
  }
  100% {
    top: 50vh;
    animation-timing-function: ease-out;
    left: 50%;
  }
}
