section {
  background-color: $white;
}

.display-results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 600px;
  img {
    width: 30%;
  }
}

.pokemon-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

ul {
  list-style: none;
  padding: 0 40px;
  li {
    position: relative;
  }
}

i {
  position: absolute;
  top: 5px;
  left: -40px;
  @include fontStyling(2.5rem);
}

.fas {
  color: $red;
  opacity: 0;
  transition: .8s;
}

li:hover .fas,
li:focus .fas {
  opacity: 1;
}

li:hover h3::before,
li:focus h3::before {
  opacity: 1;
}

span {
  display: block;
  padding: 20px 10px;
  text-align: center;
  @include fontStyling(2.5rem);
}

.type {
  text-transform: capitalize;
}

