section {
  background-color: $white;
}

.display-results {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.pokemon-card {
  width: 300px;
  height: 400px;
  margin: 40px;
  background-color: $black;
  border-radius: 20px;
  transform-style: preserve-3d;
  &::before {
    content: 'ポケモン';
    position: absolute;
    top: 60px;
    left: 40px;
    font-size: 12rem;
    transform: rotate(-45deg);
    color: $white;
    opacity: 0;
    transition: .5s;
    overflow: hidden;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 150px;
    transition: .5s;
    z-index: 15;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 75px);
  }
}

.pokemon-card:hover,
.pokemon-card:focus {
  &::before {
    opacity: .4;
  }
  & .pokemon-name {
    opacity: 1;
  }
}

.pokemon-name {
  position: absolute;
  top: 10px;
  left: 0;
  text-align: center;
  color: $white;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  opacity: 0;
  z-index: 10;
}

.pokemon-type  {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background-color: $white;
  transform-style: preserve-3d;
  z-index: 10;
  transform: translate3d(-50%, -50%, 50px);
}


