section {
  background-color: $white;
}

.display-results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    width: 30%;
  }
}

.pokemon-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

ul {
  list-style: none;
  padding: 0 40px;
  li {
    position: relative;
  }
}

i {
  position: absolute;
  top: 5px;
  left: -40px;
  @include fontStyling(2.5rem);
}

.fas {
  visibility: hidden;
}

li:hover .fas,
li:focus .fas {
  visibility: visible;
}

span {
  display: block;
  padding: 20px 10px;
  text-align: center;
  @include fontStyling(2.5rem);
}

.type {
  text-transform: capitalize;
}

