@media (max-width: 1200px) {
  .pokemon-holder::after {
    height: 250px;
    width: 250px;
    top: 60%;
  }
}

@media (max-width: 1050px) {

  // stack selected pokemon and information
  .display-results {
    flex-direction: column;
    min-height: 600px;
  }

  .poke-image {
    padding-top: 50px;
    width: 220px;
  }

  .pokemon-info {
    padding: 40px 0;
  }
}

@media (max-width: 800px) {
  .suggestion-results {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

@media (max-width: 600px) {
  .search-box {
    &:hover > .search-text,
    &:focus > .search-text {
      width: 250px;
    }
  }

  .search-text {
    font-size: 3rem;
    &:focus-within {
      width: 250px;
    }
  }
}

@media (max-width: 500px) {
  .pokemon-logo {
    width: 300px;
    top: 100px;
  }

  .catchphrase {
    width: 250px;
    top: 180px;
  }

  .wrapper {
    width: 90%;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  li span {
    font-size: 2.2rem;
  }

  .display-results {
    h3::before {
      top: 30px;
    }
  }
  .pokemon-holder {
    padding: 40px;
    &::after {
      height: 200px;
      width: 200px;
      top: 60%;
    }
    h3::before {
    top: 70px;
    }
  }
}

@media (max-width: 370px) {
  .search-box {
    &:hover > .search-text,
    &:focus > .search-text {
      width: 150px;
    }
  }

  .search-text {
    font-size: 2.2rem;
    &:focus-within {
      width: 150px;
    }
  }
  
  i {
    visibility: hidden;
  }
}