// Color Variables
$white: #fff;
$red: #e84118;
$yellow: #ffcc00;
$black: #2f3640;

// Font Style
@mixin fontStyling($sizeValue, $weightValue: 400) {
  font-size: $sizeValue;
  font-weight: $weightValue;
}

// Pokemon Types
.fire {background-color: #e84118;}
.grass {background-color: #92c88a;}
.water {background-color: #97b3e6;}
.electric {background-color: #ffe67f;}
.ground {background-color: #b9741f;}
.rock {background-color: #b2adaa;}
.fairy {background-color: #f9c2c6;}
.poison {background-color: #a69fc8;}
.bug {background-color: #cad479;}
.dragon {background-color: #658ab3;}
.psychic {background-color: #bb558e;}
.flying {background-color: #5eb9b2;}
.fighting {background-color: #f98423;}
.normal {background-color: #d6d3d4;}