// Color Variables
$white: #fff;
$red: #e84118;
$yellow: #ffcc00;
$black: #2f3640;

// Font Style
@mixin fontStyling($sizeValue, $weightValue: 400) {
  font-size: $sizeValue;
  font-weight: $weightValue;
}

// Pokemon Types
.fire::after {background-color: #e84118;}
.grass::after {background-color: #92c88a;}
.water::after {background-color: #97b3e6;}
.electric::after {background-color: #ffe67f;}
.ground::after {background-color: #b9741f;}
.rock::after {background-color: #b2adaa;}
.fairy::after {background-color: #f9c2c6;}
.poison::after {background-color: #a69fc8;}
.bug::after {background-color: #cad479;}
.dragon::after {background-color: #658ab3;}
.psychic::after {background-color: #bb558e;}
.flying::after {background-color: #5eb9b2;}
.fighting::after {background-color: #f98423;}
.normal::after {background-color: #d6d3d4;}