html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fire::after {
  background-color: #e84118;
}

.grass::after {
  background-color: #92c88a;
}

.water::after {
  background-color: #97b3e6;
}

.electric::after {
  background-color: #ffe67f;
}

.ground::after {
  background-color: #b9741f;
}

.rock::after {
  background-color: #b2adaa;
}

.fairy::after {
  background-color: #f9c2c6;
}

.poison::after {
  background-color: #a69fc8;
}

.bug::after {
  background-color: #cad479;
}

.dragon::after {
  background-color: #658ab3;
}

.psychic::after {
  background-color: #bb558e;
}

.flying::after {
  background-color: #5eb9b2;
}

.fighting::after {
  background-color: #f98423;
}

.normal::after {
  background-color: #d6d3d4;
}

.steel::after {
  background-color: black;
}

.dark::after {
  background-color: darkslategrey;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Hind Madurai', sans-serif;
}

body {
  font-size: 16px;
  color: #2f3640;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

img {
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  width: 80px;
  padding-bottom: 10px;
  border-bottom: 10px solid #e84118;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: .8s;
  transition: .8s;
  text-align: center;
  text-transform: capitalize;
}

h3::before {
  content: "";
  height: 5px;
  width: 40px;
  background-color: #e84118;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .8s;
  transition: .8s;
  opacity: 0;
}

button {
  text-decoration: none;
  border: none;
}

header {
  position: relative;
  height: 100vh;
  background-color: #e84118;
}

.preloader {
  height: 100vh;
  width: 100vw;
  background-color: #2f3640;
  position: fixed;
  z-index: 50;
}

.preloader img {
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 100;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: bounce 3s linear forwards;
          animation: bounce 3s linear forwards;
}

@-webkit-keyframes bounce {
  16%, 48%, 78% {
    top: 50%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    top: 12.5%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  62% {
    top: 25%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    top: 37.5%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    top: 50%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    left: 50%;
  }
}

@keyframes bounce {
  16%, 48%, 78% {
    top: 50%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    top: 12.5%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  62% {
    top: 25%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    top: 37.5%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    top: 50%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    left: 50%;
  }
}

.pokemon-logo,
.catchphrase {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pokemon-logo {
  width: 400px;
  position: absolute;
  top: 100px;
}

.catchphrase {
  width: 350px;
  position: absolute;
  top: 220px;
}

.search-box {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #2f3640;
  height: 80px;
  border-radius: 80px;
  padding: 10px;
}

.search-box:hover > .search-text,
.search-box:focus > .search-text {
  width: 400px;
  padding-left: 20px;
}

.search-box:hover > .pokemon-search,
.search-box:focus > .pokemon-search {
  background-color: #e84118;
}

.pokemon-search {
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2f3640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  line-height: 80px;
  width: 0px;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 4rem;
  font-weight: 400;
}

.search-text:focus-within {
  width: 400px;
  padding-left: 20px;
}

.arrow {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.arrow span {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0px;
  border-bottom: 10px solid #2f3640;
  border-right: 10px solid #2f3640;
  -webkit-transform: translateX(-50%) rotate(225deg);
          transform: translateX(-50%) rotate(225deg);
  -webkit-animation: flash 3s 2s infinite;
          animation: flash 3s 2s infinite;
  opacity: 0;
}

.arrow span:nth-of-type(2) {
  -webkit-animation: flash 3s 1s infinite;
          animation: flash 3s 1s infinite;
}

.arrow span:nth-of-type(3) {
  -webkit-animation: flash 3s 0s infinite;
          animation: flash 3s 0s infinite;
}

@-webkit-keyframes flash {
  0%, 50%, 75%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

@keyframes flash {
  0%, 50%, 75%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

section {
  background-color: #fff;
}

.display-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
}

.display-results h3::before {
  top: 40px;
  left: 50%;
}

.poke-image {
  width: 30%;
  position: relative;
}

.poke-image::after {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.poke-image:hover::after, .poke-image:focus::after {
  opacity: 1;
}

.pokemon-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

ul {
  list-style: none;
  padding: 0 40px;
}

ul li {
  position: relative;
}

i {
  position: absolute;
  top: 5px;
  left: -40px;
  font-size: 2.5rem;
  font-weight: 400;
}

.fas {
  color: #e84118;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

li:hover .fas,
li:focus .fas {
  opacity: 1;
}

li:hover h3::before,
li:focus h3::before {
  opacity: 1;
}

span {
  display: block;
  padding: 20px 10px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.type {
  text-transform: capitalize;
}

.next-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next-section a {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  background-color: #e84118;
  border-radius: 50px;
  padding: 30px 50px;
  color: #fff;
  margin-bottom: 60px;
}

.liked {
  display: none;
}

.suggestion-results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}

.pokemon-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 25px;
  text-align: center;
  border-radius: 25%;
  padding: 50px;
  position: relative;
}

.pokemon-holder img {
  padding-top: 10px;
}

.pokemon-holder::after {
  content: "";
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.pokemon-holder h3::before {
  top: 90px;
  left: 50%;
}

.pokemon-holder:hover::after, .pokemon-holder:focus::after,
.pokemon-holder:hover h3::before,
.pokemon-holder:focus h3::before {
  opacity: 1;
}

footer {
  text-align: center;
  background-color: #2f3640;
}

footer p {
  color: white;
  padding: 10px 0;
}

footer i {
  font-size: 2rem;
  position: static;
}

footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

footer a:hover, footer a:focus {
  color: #e84118;
}

@media (max-width: 1200px) {
  .pokemon-holder::after {
    height: 250px;
    width: 250px;
    top: 60%;
  }
}

@media (max-width: 1050px) {
  .display-results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 600px;
  }
  .poke-image {
    padding-top: 50px;
    width: 220px;
  }
  .pokemon-info {
    padding: 40px 0;
  }
}

@media (max-width: 800px) {
  .suggestion-results {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

@media (max-width: 500px) {
  .pokemon-logo {
    width: 300px;
    top: 100px;
  }
  .catchphrase {
    width: 250px;
    top: 180px;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .display-results h3::before {
    top: 30px;
  }
  .pokemon-holder {
    padding: 40px;
  }
  .pokemon-holder::after {
    height: 200px;
    width: 200px;
    top: 60%;
  }
  .pokemon-holder h3::before {
    top: 70px;
  }
}

@media (max-width: 360px) {
  i {
    visibility: hidden;
  }
}
